[Unit]
Description=cna service s
Requires=network-online.target
After=network-online.target

[Service]
#EnvironmentFile=-/etc/sysconfig/consul
#Environment=GOMAXPROCS=2
#Restart=on-failure
ExecStart=/home/s/s.py
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=s

[Install]
WantedBy=multi-user.target
