/**
 * Set service url
 *
 */

var srvIurl = "http://{{ puburl }}/srvi/user/"
var srvSurl = "http://{{ puburl }}/srvs/user/"
var srvBurl = "http://{{ puburl }}/srvb/user/"
var srvPurl = "http://{{ puburl }}/srvp/user/"

