/**
 * Set service url
 *
 */

var srvIurl = "http://{{ stackname }}-i.service.consul:8080/user/"
var srvSurl = "http://{{ stackname }}-s.service.consul:8081/user/"
var srvBurl = "http://{{ stackname }}-b.service.consul:8082/user/"
var srvPurl = "http://{{ stackname }}-p.service.consul:8083/user/"
