[b]
port=8082
localwurl= http://{{ stackname }}-wasg-1.service.consul:8090/play/
wurl= http://{{ stackname }}-ha.service.consul:5000/play/
rabbithost = {{ openstack_ctrl }}
rabbitlogin = stackrabbit
rabbitpassword = password
debug=True
