[Unit]
Description=cna service i
Requires=network-online.target
After=network-online.target

[Service]
#EnvironmentFile=-/etc/sysconfig/consul
#Environment=GOMAXPROCS=2
#Restart=on-failure
ExecStart=/home/i/i.py
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
